<div class="fx-felt"></div>

@for (fleck of dust(); track $index) {
  <span class="fx-dust" [style]="fleck.style"></span>
}

@if (runes().length) {
  <div class="fx-orbit" animate.enter="gm-appear" animate.leave="gm-vanish">
    @for (fleck of runes(); track $index) {
      <span class="fx-rune" [style]="fleck.style">{{ fleck.glyph }}</span>
    }
  </div>
}

@if (goldFlakes().length) {
  <div class="fx-fall" animate.enter="gm-appear" animate.leave="gm-vanish">
    @for (fleck of goldFlakes(); track $index) {
      <span class="fx-gold" [style]="fleck.style"></span>
    }
  </div>
}

@if (fallenRunes().length) {
  <div class="fx-fallen" animate.enter="gm-appear" animate.leave="gm-vanish">
    @for (rune of fallenRunes(); track $index) {
      <span class="fx-rune-fallen" [style]="rune.style">{{ rune.glyph }}</span>
    }
  </div>
}

<ng-container *ngComponentOutlet="decor(); inputs: decorInputs('fx')" />

<div class="fx-vignette"></div>
